.blue {
    color: blue;
    }

h1 {
    color: green;
}

h2 {
    color: red;
}

body {
    background-color: rgb(194, 218, 210);
}

.principle {
    background-color: darkkhaki;
}
.firststep h2 {
    font-size: large;
}

.firststep p{
    color: blue;
}

*{
    font-size: large;
    font-family: cursive;
    font-style: oblique;
}

#project {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    background-color: lemonchiffon;
    padding: 20px;
    text-align: center;
}




